$lightGreen: #b9e7e7;
// Variables
$banner-bg-color: #f5f5f5;
$banner-text-color: #333;
$banner-height: 400px;
a {
    text-decoration: none;
  }
.app {
    display: flex;
    justify-content: center;
    .container {
        width: 100%;

        .link {
            text-decoration: none;
            color: inherit;
        }
        // ---------------------------------- LOGIN AND REGISTER
            .auth {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100vh;
                background-color: $lightGreen;
            }
            h1 {
                font-size: 20px;
                color: teal;
                margin-bottom: 20px;

            }
            form {
                display: flex;
                flex-direction: column;
                padding: 50px;
                background-color: white;
                width: 200px;
                gap: 20px;

                input {
                    padding: 10px;
                    border: none;  
                    border-bottom: 1px solid grey;

                }
                button {
                    padding: 10px;
                    border: none;
                    background-color: teal;
                    cursor: pointer;
                    color: white;
                }
                p {
                    font-size: 12px;
                    text-align: center;
                    color: red; 
                }
                span {
                    font-size: 12px;
                    text-align: center;
                }
            }


            // ----------------------------- NAVBAR
            .navbar {
                .container{
                    padding: 10px 0px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .logo{
                        img{
                            width: 120px; 
                        }
                    }
                    .links{
                        display: flex;
                        gap: 10px;
                        align-items: center;
                    }

                    h6{
                        font-size: 16px;
                        font-weight: 300;
                    }

                    span{
                        cursor: pointer;
                    }
                    .write {
                        background-color: $lightGreen;
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 300;
                        border: 1px solid white;
                        &:hover {
                            color: teal;
                            background-color: white;
                            border: 1px solid teal;
                        }
                    }


                }
            }

            //----------------------------- FOOTER
            footer{
                margin-top: 100px;
                padding: 20px;
                background-color: $lightGreen;
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 12px;
                img{
                    height: 50px;
                }
            }

            //------------------------------- HOME -----------------------------
            .home{
                @media(min-width:768px) {
                    // for making the styling responsive
                }


                // Banner Styles
                .banner {
                    background-color: $banner-bg-color;
                    color: $banner-text-color;
                    height: $banner-height;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: last baseline;
                    font-size: 24px;
                    

                    .banner-title {
                        font-weight: bold;
                    }
    
                    .banner-subtitle {
                        margin-top: 10px;
                    }
                    .main-button {
                        
                        appearance: none;
                        background-color: transparent;
                        border: 2px solid teal;
                        border-radius: 12px;
                        box-sizing: border-box;
                        color: teal;
                        cursor: pointer;
                        display: inline-block;
                        // font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
                        font-size: 16px;
                        font-weight: 600;
                        line-height: normal;
                        margin: 0;
                        // min-height: 60px;
                        min-width: 0;
                        outline: none;
                        padding: 16px 24px;
                        text-align: center;
                        text-decoration: none;
                        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
                        user-select: none;
                        -webkit-user-select: none;
                        touch-action: manipulation;
                        
                        will-change: transform;
                        &:disabled {
                            pointer-events: none;
                          }
                          
                        &:hover {
                            color: #fff;
                            background-color: teal;
                            box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
                            transform: translateY(-2px);
                        }
                        
                        &:active {
                            box-shadow: none;
                            transform: translateY(0);
                        }
                      }
                }

                .featured-title {
                    font-weight: bold;
                    color: teal;  
                    font-size: 26px;  
                    margin: 10px;
                }
                .featured-articles {
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                   

                   .featured-item {
                    display: flex column;
                    justify-content: center;
                    align-items: center;
                    background-color: $banner-bg-color ;
                    flex-basis: 28%;
                    min-height: 100px; //temporary
                    border-radius: 12px;
                    padding-bottom: 20px;
                    box-shadow: rgba(0, 0, 0, 0.25) 0 2px 8px;
                    transition: all 0.3s ease;

                    &:hover{
                        box-shadow: rgba(0, 0, 0, 0.25) 0 5px 11px;
                        transform: translateY(-1px);

                    }

                    img{
                        border-radius: inherit;
                        width: 100%;
                    }
                    button{
                        appearance: none;
                        background-color: transparent;
                        // border: 2px solid teal;
                        border: none;
                        // border-radius: 12px;
                        box-sizing: border-box;
                        color: teal;
                        cursor: pointer;
                        display: inline-block;
                        // font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
                        font-size: 16px;
                        font-weight: 600;
                        line-height: normal;
                        margin: 0;
                        // min-height: 60px;
                        min-width: 0;
                        outline: none;
                        padding: 16px 24px;
                        text-align: center;
                        text-decoration: none;
                        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
                        user-select: none;
                        -webkit-user-select: none;
                        touch-action: manipulation;  
                        
                        &:hover {
                            color: #016868;
                        }
                    }
                   }
                }
                .more-info {
                    display: flex;
                    align-items: center; /* Center items vertically */

                    
                    .more-info-image-container {                        
                        display: flex;
                        flex-direction: row;
                        gap: 10px; /* Adjust gap between images as needed */
                        padding: 20px; /* Adjust padding as needed */
                        
                        .more-info-image-col01 {
                            margin-top: 30px;
                        }
                        .more-info-image-item {
                            margin: 20px 10px 10px 10px;
                        }
                        img{
                            border-radius: 12px;
                            object-fit: cover; /* Maintain aspect ratio and cover the container */
                        }
                          
                    }
                    .more-info-text {
                        flex: 1; /* Take up remaining space in the flex container */
                    }

                }
                .about-me {
                    padding: 25px;
                    margin-top: 50px;
                    display: flex;
                    justify-content: space-around;
                    img{
                        flex: 1;
                        border-radius: 12px;
                    }
                    .about-me-text {
                        flex: 4;
                        padding: 10px;

                        .about-me-title{
                            font-weight: bold;
                            color: teal;
                            font-size: 32px;
                        }
                    }
                }

                .contact-us {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    background-color: rgb(233, 233, 233);
                    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px;

                    border-radius: 12px;
                    height: 280px;

                    .contact-info {
                        display: flex;
                    }
                }
                // Usage
                // .homepage-banner {
                // @extend .banner;
                // // Additional styles specific to the homepage banner
                // // ...
                // }                

                

            }
            // ==================== BLOG ==================
            .blog {
                .posts {
                    margin-top: 150px;
                    display: flex;
                    flex-direction: column;
                    gap: 150px;

                    .post {
                        display: flex;
                        gap: 100px; 


                        &:nth-child(2n+1) {
                            // add condition for one picture to be on the right and the other one on the left
                            flex-direction: row-reverse;
                        }
                        .img {
                            flex: 2; //content is 3 units and image is 2 units
                            position: relative;

                            &::after{
                                // the light green box under post pictures
                                content: "";
                                width: 100%;
                                height: 100%;
                                background-color: $lightGreen;
                                position: absolute;
                                top: 20px;
                                left: -20px;
                                z-index: -1;
                            }
                            img{
                                width: 100%;
                                max-height: 400px;
                                object-fit: cover;
                            }
                        }

                        .content {
                            flex: 3; //content is 3 units and image is 2 units


                            h1{
                                font-size: 48px;
                            }

                            p{
                                font-size: 18px;
                            }

                            .read-more{
                                width: max-content;
                                padding: 10px 20px;
                                border: none;
                                cursor: pointer;
                                background-color: white;
                                border: 1px solid teal;
                                color: teal;

                                &:hover{
                                    border: 1px solid white;
                                    background-color: $lightGreen;
                                    color: black;
                                }
                            }


                        }
                        
                    }
                }
            }

            // SINGLE 
            .single {
                display: flex;
                gap: 50px;  

                .content {
                    flex: 5; 
                    display: flex;
                    flex-direction: column;
                    gap: 30px;

                    img {
                        width: 100%;   
                        height: 300px;
                        object-fit: cover;
                    } 

                    .user {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        font-size: 14px;
                         
                        img{
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            object-fit: cover;

                        }
                        span{
                            font-weight: bold;
                        }
                    }
                    .edit {
                        display: flex;
                        gap: 5px;

                        img {
                            width: 20px;
                            height: 20px;
                            cursor: pointer;

                        }
                    }

                    h1 {
                        font-size: 42px;
                        color: #333;

                    }
                    p{
                        text-align: justify;
                        line-height: 30px;
                         
                    }
                }

                .menu {
                    flex: 2;
                    display: flex;
                    flex-direction: column; //vertical
                    gap: 25px;

                    h1{
                        font-size: 20px;
                        color: #555;
                    }

                    .post {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        img {
                            width: 100%;
                            height: 200px;
                            object-fit: cover;
                        }

                        h2 {
                            color: #555;
                        }

                        button{
                            width: max-content;
                            padding: 7.5px 15px;
                            border: none;
                            cursor: pointer;
                            background-color: white;
                            border: 1px solid teal;
                            color: teal;

                            &:hover{
                                border: 1px solid white;
                                background-color: $lightGreen;
                                color: black;
                            }
                        }
                    }
                }
            }

        //WRITE
        .add{
            margin-top: 20px;
            display: flex;
            gap: 20px;

            .page-content {
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .error {
                    
                    font-size: 12px;
                    text-align: center;
                    color: red; 
                    
                }

                input {
                    padding: 10px;
                    border: 1px solid lightgray;
                    
                }
                .editorContainer {
                    height: 300px;
                    overflow: scroll;
                    border: 1px solid lightgray;
                    .editor {
                        height: 100%;
                        border: none;
                    }
                    
                }
            }

            .menu {
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .item {
                    border: 1px solid lightgray;
                    padding: 10px;
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 12px;
                    color: #555;

                    h1 {
                        font-size: 20px;

                    }

                    .file {
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    .buttons {
                        display: flex;
                        justify-content: space-between;

                        :first-child {
                            cursor: pointer;    
                            color: teal;
                            background-color: white;
                            border: 1px solid teal;
                            padding: 3px 5px;
                        }
                        :last-child {
                            cursor: pointer;    
                            color: white;
                            background-color: teal;
                            border: 1px solid teal;
                            padding: 3px 5px;
                        }
                    }

                    .cat {
                        display: flex;
                        align-items: center;
                        gap: 2px;
                        color: teal;
                    }
                }

            }
            
        }
    }
}